@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    min-height: 500px;
    margin-bottom: 20px;

    .zoom {
        figure {
            overflow: hidden;
            margin: 0 10px;
            border-radius: 6px;

            img {
                transform: scale(1);
                transition: 0.3s ease-in-out;
            }

            img.img-arrival {
                width: 325px;
                height: 425px;
                border-radius: 6px;
                cursor: pointer;
            }
        }

        &:hover img {
            transform: scale(1.5);
        }
    }
}

.text-semi-black {
    color: #272727;
}

.awssld__content {
    background-color: white !important;
}

.icon-cart {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #FFFFFF;
    color: #000000;
    font-weight: bold;
    text-align: center;
    padding: 0px auto;
    font-size: 10px;
    position: absolute;
    left: 40%;
    top: -2px;
}