.coupon {
    width: 340px;
    min-height: 75px;
    background-color: #EFECEC;
    padding: 20px 30px 10px 38px;
    margin: 20px 0px;
    color: #5C5757;
}

.img-detail {
    height: 667px;
    width: 467px;
}