nav {
    a {
        text-decoration: none;
    }

    ul {
        padding-left: 15px;

        li {
            a {
                line-height: 22.5px;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }
}